.App {
  text-align: center;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11998E, #38EF7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11998E, #38EF7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  min-height: 100vh;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  
}

.title {
  font-family: 'Rubik Burned', cursive;
  font-size: 60px;
}